{% extends "admin/import_export/change_list.html" %}

{% block object-tools-items %}

    {% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
    <style type="text/css">
        .object-tools>li:first-child{
            display: none;
        }
    </style>
  {% include "admin/import_export/change_list_import_item.html" %}
  {% include "admin/import_export/change_list_export_item.html" %}
  {{ block.super }}
{% endblock %}
