$color: #C82908;
$fontSize: 35px;
$tabFontSize: 45px;
$titleFontSize: 25px;
$heXiaoBtnFontSize: 40px;

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

// 页面顶部滑动图片
.my-container {
  //padding-left: 0 !important;
  //padding-right: 0 !important;
  background-color: #F7F7F7;
  .row {
    padding: 0;
    .col-sm {
      padding: 0;
    }
  }
}

// 标题背景图
.he-xiao {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.he-xiao-ok {
  .my-title {
    @extend .he-xiao;
    background-image: url("/static/app/img/ok-hexiao.jpg");
  }
  .my-wine-code {
    span {
      border-bottom: 1px solid #418F08;
    }
  }
}

.he-xiao-not {
  .my-title {
    @extend .he-xiao;
    background-image: url("/static/app/img/not-hexiao.jpg");
  }
  .my-wine-code {
    span {
      border-bottom: 1px solid #C72B07;
    }
  }
}

// 标题的显示
.my-title {
  height: 100px;
  background-color: #F7F7F7;
  div {
    //position: absolute;
    color: white;
  }
}

.my-wine-code {
  position: relative;
  height: 15px;
  float: right;
  top: -25px;
  color: black;
  font-size: 10px;
  left: -17%;
  z-index: 100000;
  span {
    margin-top: 6px;
    height: 2px;
    width: 50px;
  }
  p {
    margin-left: 4px;
  }
}

// 选项卡样式
.my-tab {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dotted #D5D5D5;
  border-top: 1px dotted #D5D5D5;
  .nav {
    flex: 1;
    .nav-item {
      border-right: 1px solid #D8D8D8;
      .nav-link {
        height: 28px;
        font-size: 18px;
        padding-top: 0;
        padding-bottom: 0;
        color: #9b9b9b;
      }
      .active {
        color: #C62C03;
      }
    }
    .nav-item:last-child {
      border: 0;
    }
  }
}

//
.tab-pane {
  margin-bottom: 100px;
  .info-item {
    padding-top: 8px;
    padding-bottom: 8px;
    .info-title {
      font-size: 18px;
      color: #676767;
      margin-bottom: 5px;
    }
    .info-img {
      width: 100%;
      border-radius: 4px;
    }
    .info-content {
      p {
        color: #454545;
        margin-bottom: 0;
      }
    }
  }
  .retrospect-item {
    @extend .info-item;
    .info-title {
      border-bottom: 2px solid #C82908;
      display: inline-block;
    }
    p {
      color: #676767;
      margin-bottom: 2px;
      .my-img-open {
        color: $color;
        border: 1px solid $color;
        padding-left: 2px;
        padding-right: 2px;
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
}

.my-btn {
  background-color: #F7F7F7;
  border-top: 1px solid #E5E5E5;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    border-radius: 0;
    background-color: #C72B07;
    width: 50%;
    height: 39px;
  }
}

.my-xingjiu {
  color: #9b9b9b;
}

.time {
  color: $color;
  margin-left: 4px;
  margin-right: 4px;
}

.store {
  color: $color;
  border: 1px solid $color;
  padding: 3px;
  margin-left: 4px;
  margin-right: 4px;
}
